<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">                       
                                <li class="nav-item dropdown">
                                         <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                     <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="file:///C:/Users/CRSC/Desktop/Food%20ordering%20system%20V2/Login.html">Logout</a></li>
                                    </ul>
                                </li>    
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="text-center">
            <br><br>
            <h3 class="display-5 mb-2 text-center">Goodmorning! Test Name</h3>
         
            <tbody class="text-center">
                <br><br>
                <label for ="Date">Date of Order Reservation:</label>
                <input type="date" id="date" name="date"> <br><br>
                <label for="img">Select image:</label>
                <input type="file" id="myFile" name="filename"> <br><br>
                <label for="img">Food Name:</label>
                <input type="text" id="Foodname" name="Foodname"><br><br>
                <label for="img">Description:</label> <br>
                <textarea id="Description" name="Description" rows="4" cols="50"></textarea><br><br>
                <input type="submit">
            </tbody>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
